.admin-console {
    float: right;
    width: 400px;
    height: 200px;
    flex-grow: 1;
    overflow-y: auto;
    border: 1px solid black;
    text-align: left;
}

.display {
    display: flex;
}

.display-panel {
    flex: 1;
}