<div class="body">
    <div *ngIf="admin">
        <admin-console [socket]="socket"></admin-console>
        <input class="button" type="file" (change)="clear(); upload($event)" value="Upload file"><br>
        <label><input type="checkbox" (change)="toggleShareScreen()" checked>Share screen</label>
        <label><input type="checkbox" (change)="toggleSendFile()" checked>Send file</label>
        <label><input type="checkbox" (change)="toggleDraw()">Draw</label>
        <!--input class="button" type="file" (change)="uploadQuiz($event)" value="Upload quiz"-->
        <!--input class="button" type="file" (change)="uploadFile($event)" value="Upload PDF/PPT"-->
    </div>

    <br>
    <!--- if admin then overlay the file and the canvas // if guest then show file and stream side by side -->
    <div id="display" [ngStyle]="{'display': admin ? 'inline-block': 'flex'}">
        <video *ngIf="!admin && video" id="viewVideo" class="display-panel" width="756" height="600" autoplay muted></video>
        <div id="viewFile" [ngStyle]="{'position': draw ? 'absolute' : '', 'flex': !admin && 1}"></div>
        <draw *ngIf="draw"></draw>
    </div>

    <!-- quiz display for admin (with statistics) -->
    <div *ngIf="admin" class="questions-container">
        <div *ngFor="let question of quiz; index as i">
            <div class="question">
                <h3>
                    #{{ i + 1 }}
                    {{ question.title }}
                </h3>

                <div *ngIf="question.type != 1">
                    <div *ngFor="let answer of question.answers; index as j" [ngStyle]="{'color': answer.correct ? 'green' : 'red'}">
                        {{ answer.text }} {{ getAnswerPercentage(i, j) }}
                    </div>
                </div>

                <div *ngIf="question.type == 1">
                    <div *ngFor="let answer of answers[i]; index as j">
                        {{ answer }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- quiz display for guests -->
    <div *ngIf="!admin" class="questions-container">
        <div *ngIf="quiz.length > 0" id="quiz-form" class="quiz-form">
            <div *ngFor="let question of quiz; index as i">
                <div class="question">
                    <h3>
                        #{{ i + 1 }}
                        {{ question.title }}
                    </h3>

                    <!-- essay question -->
                    <div *ngIf="question.type == 1">
                        <input type="text" size="60" class="question{{ i + 1 }}">
                    </div>

                    <!-- single choice question -->
                    <div *ngIf="question.type == 2">
                        <div *ngFor="let answer of question.answers; index as j">
                            <input *ngIf="answer.text" class="question{{ i + 1 }}" type="radio" name="{{ i + 1 }}" value="{{ answer.text }}">{{ answer.text }}
                        </div>
                    </div>

                    <!-- multiple choice question -->
                    <div *ngIf="question.type == 3">
                        <div *ngFor="let answer of question.answers; index as j">
                            <input *ngIf="answer.text" class="question{{ i + 1 }}" type="checkbox" value="{{ answer.text }}">{{ answer.text }}
                        </div>
                    </div>
                </div>
            </div><br>
            <input id="quiz-submit" class="button" type="button" (click)="submitQuiz()" value="Submit">
        </div>
    </div>

    <br>
    <input *ngIf="!admin" class="button" type="button" (click)="sendQuestion()" value="Raise hand">
    <a routerLink="/home">
        <input *ngIf="admin" class="button" type="button" (click)="stopRoom()" value="Stop room">
        <input *ngIf="!admin" class="button" type="button" (click)="leaveRoom()" value="Home">
    </a>
</div>