<div class="body">
    <admin-console *ngIf="admin" [socket]="socket"></admin-console><br>

    <!--- if admin then overlay the file and the canvas // if guest then show file and stream side by side -->
    <div id="display" [ngStyle]="{'display': admin ? 'inline-block': 'flex'}">
        <div *ngIf="!admin" id="videoContainer" class="video-container"></div>
        <div id="fileContainer" [ngStyle]="{'position': draw ? 'absolute' : '', 'flex': !admin && 1}"></div>
        <draw *ngIf="draw"></draw>
    </div>

    <!-- quiz display for admin (with statistics) -->
    <div *ngIf="admin" class="questions-container">
        <div *ngFor="let question of quiz; index as i">
            <div class="question">
                <h3>
                    #{{ i + 1 }}
                    {{ question.title }}
                </h3>

                <div *ngIf="question.type != 1">
                    <div *ngFor="let answer of question.answers; index as j" [ngStyle]="{'color': answer.correct ? 'green' : 'red'}">
                        {{ answer.text }} {{ getAnswerPercentage(i, j) }}
                    </div>
                </div>

                <div *ngIf="question.type == 1">
                    <div *ngFor="let answer of answers[i]; index as j">
                        {{ answer }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- quiz display for guests -->
    <div *ngIf="!admin" class="questions-container">
        <div *ngIf="quiz.length > 0" id="quiz-form" class="quiz-form">
            <div *ngFor="let question of quiz; index as i">
                <div class="question">
                    <h3>
                        #{{ i + 1 }}
                        {{ question.title }}
                    </h3>

                    <!-- essay question -->
                    <div *ngIf="question.type == 1">
                        <input type="text" size="60" class="question{{ i + 1 }}">
                    </div>

                    <!-- single choice question -->
                    <div *ngIf="question.type == 2">
                        <div *ngFor="let answer of question.answers; index as j">
                            <input *ngIf="answer.text" class="question{{ i + 1 }}" type="radio" name="{{ i + 1 }}" value="{{ answer.text }}">{{ answer.text }}
                        </div>
                    </div>

                    <!-- multiple choice question -->
                    <div *ngIf="question.type == 3">
                        <div *ngFor="let answer of question.answers; index as j">
                            <input *ngIf="answer.text" class="question{{ i + 1 }}" type="checkbox" value="{{ answer.text }}">{{ answer.text }}
                        </div>
                    </div>
                </div>
            </div><br>
            <input id="quiz-submit" class="button" type="button" (click)="submitQuiz()" value="Submit">
        </div>
    </div>

    <!-- admin buttons row -->
    <div *ngIf="admin" class="button-row">
        <label for="uploadQuiz" class="button column">Upload quiz</label>
        <input id="uploadQuiz" type="file" style="display: none;" (change)="clear(); uploadQuiz($event)">
        <label for="uploadFile" class="button column">Upload file</label>
        <input id="uploadFile" type="file" style="display: none;" (change)="clear(); uploadFile($event)">
        <input class="button column" type="button" (click)="sendFile()" value="Send file">

        <input *ngIf="!stream" class="button column" type="button" (click)="startStream()" value="Share screen">
        <input *ngIf="stream" class="button column" type="button" (click)="stopStream()" value="Stop sharing">
        <input class="button column" type="button" (click)="toggleStream()" value="Pause/play">

        <input class="button column" type="button" (click)="toggleDraw()" value="Draw">
        <a routerLink="/home">
            <input class="button" type="button" (click)="stopRoom()" value="Stop room">
        </a>
    </div>

    <br>

    <!-- guest buttons row -->
    <div *ngIf="!admin" class="button-row">
        <input class="button column" type="button" (click)="sendQuestion()" value="Raise hand">
        <a routerLink="/home">
            <input class="button" type="button" (click)="leaveRoom()" value="Home">
        </a>
    </div>
</div>