<div class="body">
    <div *ngIf="admin" id="admin-console" class="admin-console"></div>
    <input *ngIf="admin" class="button" type="file" (change)="clear(); upload($event)" value="Upload file"><br>
    <!--input class="button" type="file" (change)="uploadQuiz($event)" value="Upload quiz"-->
    <!--input class="button" type="file" (change)="uploadFile($event)" value="Upload PDF/PPT"-->

    <br>
    <div id="viewFile"></div>

    <div class="questions-container">
        <div *ngFor="let question of quiz; index as i">
            <div class="question">
                <h3>
                    #{{ i+1 }}
                    {{ question.title }}
                </h3>
                <div *ngFor="let answer of question.answers; index as j" [ngStyle]="{'color': answer.correct ? 'green' : 'red'}">
                    {{ answer.text }}
                </div>
            </div>
        </div>
    </div>

    <br>
    <input *ngIf="!admin" class="button" type="button" (click)="sendQuestion()" value="Unclear">
    <a routerLink="/home">
        <input *ngIf="admin" class="button" type="button" (click)="stopRoom()" value="Stop room">
        <input *ngIf="!admin" class="button" type="button" (click)="leaveRoom()" value="Home">
    </a>
</div>