.fa-stack {
    height: auto;
    left: -68%;
}

.question-container {
    padding-bottom: 100px;
}

.question-percentage {
    float: right;
    font-weight: normal;
    margin-right: 3px;
}

/* this is used to help center the answer text */
.question-percentage-hidden {
    visibility: hidden;
    float: left;
    font-weight: normal;
    margin-left: 3px;
}
