html {
    background-color: #4CAF5021 ;
    color: #4CAF50;
}

.body {
    font-family: 'Calibri';
    text-align: center;
}

.bold {
    font-weight: bold;
}

.button {
    display: inline-block;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: white;
    margin: 0 20px;
    padding: 12px 26px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.button:hover {
    background-color: rgb(226, 226, 226);
}
