.body {
    font-family: 'Calibri';
    text-align: center;
}

.title {
    font-size: 80px;
    font-weight: bold;
}

.input-box {
    box-sizing: border-box;
    margin: 8px 0;
    padding: 10px 14px;
    text-align: center;
}

.button {
    display: inline-block;
    background-color: #4CAF50;
    border: none;
    color: white;
    margin: 0 20px;
    padding: 12px 26px;
    text-align: center;
    text-decoration: none;
}

.rainbow-text {
    animation: rainbowText 3s infinite linear;
}

@keyframes rainbowText {
    12.5% {
        color: #FF0000;
    }
    25% {
        color: #FFA500;
    }
    37.5% {
        color: #FFFF00;
    }
    50% {
        color: #7FFF00;
    }
    62.5% {
        color: #00FFFF;
    }
    75% {
        color: #0000FF;
    }
    87.5% {
        color: #9932CC;
    }
    100% {
        color: #FF1493;
    }
}