<div class="body">
	<div class="title rainbow-text">
		TITLE
	</div>
	<div>
		<form action="">
			Enter name:<br>
			<input id="name" class="input-box" type="text"><br><br>
			Enter room id:<br>
			<input id="room-id" class="input-box" type="text"><br><br>
			<a [routerLink]="(isUser && isRoom) ? ['/room', roomId] : []" [queryParams]="{name: name}">
				<input id="guest-room" class="button" type="button" (click)="setUser(); checkRoom();" value="Join">
			</a>
			<a [routerLink]="(isUser && isRoom) ? ['/room', roomId, 'admin'] : []" [queryParams]="{name: name}">
				<input id="admin-room" class="button" type="button" (click)="setUser(); startRoom();" value="Host">
			</a>
		</form><br>
		<a routerLink="/quiz-builder">
			<input class="button" type="button" value="Create quiz">
		</a>
	</div>
</div>