.title {
    font-size: 90px;
    font-weight: bold;
    color: #4CAF50;
    text-shadow: -3px -3px #B5DFB7;
}

.input-box {
    box-sizing: border-box;
    margin: 8px 0;
    padding: 10px 14px;
    text-align: center;
}
