
<div class="body">
    <h2>QUIZ BUILDER</h2>

    <div>Quiz title:</div>
    <input id="quiz-title" type="text" size="60"><br><br>
    
    <form id="add-form" class="add-form" action="">
        Question:<br>
        <input id="add-title" type="text" size="20"><br><br>

        <div id="question-type-picker">
            <label><input id="type-1" class="question-type" type="radio" name="question-type" value="1" (click)="toggleType()" checked="checked">Essay</label>
            <label><input id="type-2" class="question-type" type="radio" name="question-type" value="2" (click)="toggleType()">Single choice</label>
            <label><input id="type-3" class="question-type" type="radio" name="question-type" value="3" (click)="toggleType()">Multiple choice</label>
        </div><br>

        <!-- need empty answer fields for JSON parsing -->
        <div *ngIf="type == 1" style="display: none">
            <input id="add-answer-1" type="text" placeholder="Answer 1" size="25"><input id="toggle-answer-1" type="checkbox"><br>
            <input id="add-answer-2" type="text" placeholder="Answer 2" size="25"><input id="toggle-answer-2" type="checkbox"><br>
            <input id="add-answer-3" type="text" placeholder="Answer 3" size="25"><input id="toggle-answer-3" type="checkbox"><br>
            <input id="add-answer-4" type="text" placeholder="Answer 4" size="25"><input id="toggle-answer-4" type="checkbox"><br><br>
        </div>

        <div *ngIf="type == 2">
            <input id="add-answer-1" type="text" placeholder="Answer 1" size="25"><input id="toggle-answer-1" type="radio" name="answer"><br>
            <input id="add-answer-2" type="text" placeholder="Answer 2" size="25"><input id="toggle-answer-2" type="radio" name="answer"><br>
            <input id="add-answer-3" type="text" placeholder="Answer 3" size="25"><input id="toggle-answer-3" type="radio" name="answer"><br>
            <input id="add-answer-4" type="text" placeholder="Answer 4" size="25"><input id="toggle-answer-4" type="radio" name="answer"><br><br>
        </div>

        <div *ngIf="type == 3">
            <input id="add-answer-1" type="text" placeholder="Answer 1" size="25"><input id="toggle-answer-1" type="checkbox"><br>
            <input id="add-answer-2" type="text" placeholder="Answer 2" size="25"><input id="toggle-answer-2" type="checkbox"><br>
            <input id="add-answer-3" type="text" placeholder="Answer 3" size="25"><input id="toggle-answer-3" type="checkbox"><br>
            <input id="add-answer-4" type="text" placeholder="Answer 4" size="25"><input id="toggle-answer-4" type="checkbox"><br><br>
        </div>

        <input class="button" type="button" (click)="addQuestion()" value="Add question">
    </form><br>

    <input class="button" type="button" (click)="downloadQuiz()" value="Download quiz">
    <input class="button" type="file" (change)="uploadQuiz($event)" value="Upload quiz">
    <a routerLink="/home">
        <input class="button" type="button" value="Back">
    </a>

    <div class="questions-container">
        <div *ngFor="let question of questions; index as i">
            <div class="question">
                <h3>
                    #{{ i+1 }}
                    {{ question.title }}
                    <button (click)="removeQuestion(i)">X</button>
                </h3>
                <div *ngFor="let answer of question.answers; index as j" [ngStyle]="{'color': answer.correct ? 'green' : 'red'}">
                    {{ answer.text }}
                </div>
            </div>
        </div>
    </div>
</div>
