
<div class="body">
    <div class="title">
        QUIZ BUILDER
    </div>
    <br>

    <div class="bold">
        Quiz title:
    </div>
    <input id="quiz-title" type="text" size="30">
    <br><br>
    
    <form id="add-form" class="add-form" action="">
        <span class="bold">
            Question:
        </span>
        <br>
        <input id="add-title" type="text" size="20">
        <br><br>

        <div id="question-type-picker">
            <label><input id="type-1" class="question-type" type="radio" name="question-type" value="1" (click)="toggleType()" checked="checked">Essay</label>
            <label><input id="type-2" class="question-type" type="radio" name="question-type" value="2" (click)="toggleType()">Single choice</label>
            <label><input id="type-3" class="question-type" type="radio" name="question-type" value="3" (click)="toggleType()">Multiple choice</label>
        </div><br>

        <!-- need empty answer fields for JSON parsing -->
        <div *ngIf="type == 1" style="display: none">
            <input id="add-answer-1" type="text" placeholder="Answer 1" size="25"><input id="toggle-answer-1" type="checkbox"><br>
            <input id="add-answer-2" type="text" placeholder="Answer 2" size="25"><input id="toggle-answer-2" type="checkbox"><br>
            <input id="add-answer-3" type="text" placeholder="Answer 3" size="25"><input id="toggle-answer-3" type="checkbox"><br>
            <input id="add-answer-4" type="text" placeholder="Answer 4" size="25"><input id="toggle-answer-4" type="checkbox"><br><br>
        </div>

        <div *ngIf="type == 2">
            <input id="add-answer-1" type="text" placeholder="Answer 1" size="25"><input id="toggle-answer-1" type="radio" name="answer"><br>
            <input id="add-answer-2" type="text" placeholder="Answer 2" size="25"><input id="toggle-answer-2" type="radio" name="answer"><br>
            <input id="add-answer-3" type="text" placeholder="Answer 3" size="25"><input id="toggle-answer-3" type="radio" name="answer"><br>
            <input id="add-answer-4" type="text" placeholder="Answer 4" size="25"><input id="toggle-answer-4" type="radio" name="answer"><br><br>
        </div>

        <div *ngIf="type == 3">
            <input id="add-answer-1" type="text" placeholder="Answer 1" size="25"><input id="toggle-answer-1" type="checkbox"><br>
            <input id="add-answer-2" type="text" placeholder="Answer 2" size="25"><input id="toggle-answer-2" type="checkbox"><br>
            <input id="add-answer-3" type="text" placeholder="Answer 3" size="25"><input id="toggle-answer-3" type="checkbox"><br>
            <input id="add-answer-4" type="text" placeholder="Answer 4" size="25"><input id="toggle-answer-4" type="checkbox"><br><br>
        </div>

        <input class="button" type="button" (click)="addQuestion()" value="Add question">
    </form><br>

    <div class="question-container">
        <div *ngFor="let question of questions; index as i">
            <div class="question">
                <div class="question-header">
                    <span class="question-number">{{ i+1 }}.</span>
                    <span class="question-title">{{ question.title }}</span>
                    <label for="removeButton" class="button small">
                        X
                        <input id="removeButton" style="display: none;" type="button" (click)="removeQuestion(i)">
                    </label>
                </div>
                <div *ngFor="let answer of question.answers; index as j" class="question-option"
                            [ngStyle]="{'color': answer.correct ? 'green' : 'red', 'background-color': j % 2 == 0 ? '#A9D6AC': '#9AD99E'}">
                    {{ answer.text }}
                </div>
            </div>
        </div>
    </div><br><br>

    <div class="button-row">
        <label for="downloadQuizButton" class="button-icon">
            <i class="fa-solid fa-file-arrow-down fa-xl"></i>
            <span class="tooltip">Download</span>
            <input id="downloadQuizButton" type="button" style="display: none;" (click)="downloadQuiz()">
        </label>

        <label for="uploadQuizButton" class="button-icon">
            <i class="fa-solid fa-file-arrow-up fa-xl"></i>
            <span class="tooltip">Upload quiz</span>
            <input id="uploadQuizButton" type="file" style="display: none;" (change)="uploadQuiz($event)">
        </label>

        <a routerLink="/home" class="button-icon">
            <i class="fa-solid fa-house fa-xl"></i>
            <span class="tooltip">Back</span>
        </a>
    </div>
</div>
